html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,
output,ruby,section,summary,time,mark,audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    user-select: none;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 14pt;
    background-color: #F1F0EA;
    min-height: 100%;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 24pt;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 20pt;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 18pt;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-size: 17pt;
}

h5 {
    font-family: "Roboto", sans-serif;
    font-size: 16pt;
}

h6 {
    font-family: "Roboto", sans-serif;
    font-size: 15pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 5px;
    margin: 5px;
}

i {
    padding: 7px 3px;
    user-select: none;
}

i:hover {
    cursor: pointer;
    background: #984447;
}

.container {
    display: flex;
}

.header {
    background: #476C9B;
    color: #FCFCFC;
    overflow: hidden;
}

.header a {
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 20pt;
    user-select: none;
}

.header a:hover {
    cursor: pointer;
    background: #984447;
}

.stay-right {
    margin-left: auto;
    margin-top: 7px;
}

.stay-right a {
    text-decoration: line-through;
}

.icon-container {
    width: 20%;
    padding-left: 28%;
}

.sound-line {
    flex: 1;
    height: 10%;
    width: 100%;
}

.sound-name { 
    border-right: 2px solid black;
    width: 15%;
    align-self: center;
}

.sound-btn {
    height: 150px;
    width: 10.625%;
}

.hover:hover, .edit-btn:hover {
    cursor: pointer;
    background: #984447;
}

.dark-btn {
    background: #748CAB;
}

.light-btn {
    background: #ADD9F4;
}

.selected {
    background: #984447;
    border: 2px solid #FCFCFC;
}

.edit-line {
    height: 10%;
    align-self: center;
}

.edit-btn {
    text-align: center;
    background: gray;
    color: #FCFCFC;
    padding: 8px;
    border-radius: 5px;
    margin-top: 50px;
}

#footer {
    width: 100%;
    background: #476C9B;
    color: #FCFCFC;
    bottom: 0;
    position: absolute;
    margin-top: 30px;
}

#copyright {
    /* padding: 1% 0; */
}

#main-body {
    min-height: 100%;
    flex-direction: column;
}